{#{% load static from staticfiles %}#}
{#<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"#}
{#"http://www.w3.org/TR/html4/loose.dtd">#}
{#<html>#}
{#    <head>#}
{#        <title>富文本编辑器</title>#}
{#        <script type="text/javascript" src="{% static 'tiny_mce/tiny_mce.js' %}"></script>#}
{#        <!-- 也可以写成 <script type="text/javascript" src="/static/tiny_mce/tiny_mce.js"></script> -->#}
{#        <script type="text/javascript">#}
{#            tinyMCE.init({#}
{#                'mode': 'textareas', // 将所有的textare变为编辑器#}
{#                'theme': 'advanced',#}
{#                'width': 800,#}
{#                'height': 400#}
{#            });#}
{#        </script>#}
{#    </head>#}
{#    <body>#}
{#        <form method="post" action="{% url 'shop:add' %}">#}
{#            {% csrf_token %}#}
{#            商品名：<input type="text" name="good_name"><br/>#}
{#            价格：<input type="text" name="good_price"><br/>#}
{#            内容：#}
{#            <textarea name="content"></textarea>#}
{#            <input type="submit" value="提交" />#}
{#        </form>#}
{#    </body>#}
{#</html>#}