<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户帐单</title>
</head>
<body>
    <a href="{% url 'shop:welcome' %}">首页</a><br/>
    ----------------------------------------------------------------------------------------<br/>
    {% for foo in all_list %}
        订单号：{{ foo.detail_list.number }}<br/>
        卖家：{{ foo.detail_list.seller }}<br/>
        商品名：{{ foo.good.name }}<br/>
        <a href="{% url 'shop:good_page' foo.good.number %}" class="btn btn-primary">商品详情</a>
        <form action="{% url 'shop:turn_to_commit' %}" method="POST">
        {% csrf_token %}
            <input type="text" value="{{ foo.detail_list.number }}" name="list_number" hidden>
            <input type="text" value="{{ foo.good.number }}" name="good_number" hidden>
        订单状态：{{ foo.list_situation }}
        {% if foo.detail_list.status == 2 %}
            <input type="submit" value="评论">
        {% endif %}

        </form>

        <br/>
        {{ foo.good.image|safe }}<br/>
        ￥{{ foo.good.price }} × {{ foo.detail_list.amount }}个 = ￥{{ foo.one_total }}<br/>
        ----------------------------------------------------------------------------------------<br/>
    {% endfor %}
</body>
</html>