<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详单</title>
</head>
<body>
    <a href="{% url 'shop:welcome' %}">首页</a><br/>
    <form action="{% url 'shop:pay' %}" method="POST">
    {% csrf_token %}
        订单号：<p>{{ number }}</p><br/>
    <input type="text" value="{{ number }}" name="number" hidden>
    {% for foo in good_in_detail_list %}
        商品名：{{ foo.good.name }}<br/>
        价格：￥{{ foo.good.price }}<br/>
        {{ foo.good.image|safe }}<br/>
        数量：{{ foo.amount }}<br/><br/>
    {% endfor %}
    <h3>总价：￥{{ total_money }}</h3>
    {% if user.fund >= total_money %}
        <input type="submit" value="购买">
        {% else %}
        <input type="button" value="余额不足无法购买">
    {% endif %}

    </form>
</body>
</html>