<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
</head>
<body>
    <form action="{% url 'shop:list' %}" method="POST">
        {% for foo in goods %}
            ---------------------------------------------------------------------------
            <br/>
        商品编码：{{ foo.number }}<br/>
        商品名：{{ foo.name }}<br/>
        价格：￥{{ foo.price }}<br/>
        介绍：{{ foo.description|safe }}<br/>
        头像：{{ foo.image|safe }}
            ---------------------------------------------------------------------------
            <br/><br/>
        {% endfor %}
    </form>
</body>
</html>