<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ good.name }}</title>
</head>
<body>
    <a href="{% url 'shop:welcome' %}">首页</a><br/>
    商品编号：{{ good.number }}<br/>
    商家：{{ good.seller.name }}<br/>
    商品名：{{ good.name }}<br/>
    价格：￥{{ good.price }}<br/>
    库存：{{ good.amount }}<br/>
    成交量：{{ good.turnover }}<br/>
    头像：{{ good.image|safe }}<br/>
    <a {{ buyer_authority }}>
<form action="{% url 'shop:add_to_car' good.number %}">
    <input type="submit" value="添加到购物车">
</form>
</a>

<a {{ seller_authority }}>
    <form action="{% url 'shop:re_edit' good.number %}">
     <input type="submit" value="修改">
 </form>

 <form action="{% url 'shop:delete_good' good.number %}">
     <input type="submit" value="删除">
 </form>
</a>
    介绍：{{ good.description|safe }}<br/><br/><br/>
    上架时间：{{ good.put_on_time }}<br/>

    <br/>
    评论区：<br/>
    {{ no_comment }}<br/>
{% for foo in comments %}
    买家：{{ foo.user.name }}<br/>
    内容：{{ foo.content }}<br/>
{% endfor %}


</body>
</html>
